header {
	background-color: yellow;
	font-family: Arial;
}
h1 {
	text-align: center;
}
.column-1 {
	background-color: pink;

}
.column-2 {
	background-color: grey;
}
section {
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding: 20px;
}
.wrapper{
	overflow: auto;
	font-family: Georgia;
}